.carousel-item {
    height: 600px ;
}

.table{
    border: outset 2px maroon;;
    border-color: grey !important;
    border-radius: 80px;
    width: 700px;
    margin-left: 200px;
    margin-top: 70px;
    
}

.products{
    width: 70px;
    height: 70px;
}

.icons{
    width: 20px;
    height: 20px;
}